

<%- include('partials/header') %>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="font-family: 'Permanent Marker', cursive;" class="display-4">Failed</h1>
    <p style="font-family: 'MuseoModerno', cursive;" class="lead"><%= error %></p>
    <p style="font-family: 'MuseoModerno', cursive;" class="lead">**please check spelling of the character...</p>
    <a href="/"><button style="font-family: 'MuseoModerno', cursive;" type="button" class="btn btn-lg btn-outline-dark" name="button">Search Again</button></a> 
  </div>
</div>
  </body>
</html>
