<%- include('partials/header') %>

<div class="container-fluid">
  <img src="superhero.jpg" class="img-fluid front-img" alt="find your hero!">
  <div class="title-box">
    <h1 id="hero-title">Heropedia</h1>
<h2 id="hero-disc">Search all superheros and villains at one place...</h2>
    <form class="hero-form" name="frm" action="/" method="post">
      <input id="hero-input" type="text" name="d" value="" placeholder="search superhero or villain here!">
      <button type="submit" class="btn btn-outline-light" name="button">Search</button>
    </form>
  </div>

</div>




<%- include('partials/footer') %>
